@import '../../assets/fonts.css';

@value space: 26px;

.topContainer {
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
}

.avatarContainer {
  padding: space;
}

.themeContainer {
  align-self: center;
  padding-right: space;
}

.content {
  color: blue;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  width: 72%;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 280px;
  font-family: 'Oxygen', sans-serif;
}

.textContainer span:nth-child(1) {
  font-weight: 600;
  font-size: 14px;
}

.textContainer span:nth-child(2) {
  font-weight: 600;
  font-size: 60px;
  line-height: 64px;
}

.textContainer span:nth-child(3) {
  font-weight: 400;
  color: black;
  margin-top: 20px;
  font-size: 14px;
  line-height: 22px;
}

.socialLinks {
  margin-top: space;
}
