@import '../../assets/fonts.css';
@value mineShaft from '../../assets/colors.css';
@value mineShaftApprox from '../../assets/colors.css';
@value codGray from '../../assets/colors.css';
@value mercury from '../../assets/colors.css';
@value whiteColor from '../../assets/colors.css';
@value boulder from '../../assets/colors.css';
@value outerSpace from '../../assets/colors.css';
@value lilacBush from '../../assets/colors.css';
@value twitterBlue from '../../assets/colors.css';
@value tundora from '../../assets/colors.css';
@value silverSolid from '../../assets/colors.css';
@value silverApprox from '../../assets/colors.css';
@value space: 14px;

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  height: 100%;
}

.baseSpace {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controlSpace {
  flex: 1;
  composes: baseSpace;
}

.controlHeader {
  padding: space 0;
  display: flex;
  justify-content: flex-end;
}

.lightControlHeader {
  composes: controlHeader;
  background-color: whiteColor;
  box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.18);
  z-index: 1;
}

.darkControlHeader {
  composes: controlHeader;
  background-color: mineShaftApprox;
}

.knobContainer {
  margin-right: space;
}

.navigationSection {
  display: flex;
  justify-content: center;
  text-align: center;
  flex: 1;
  align-items: center;
}

.lightNavigationSection {
  composes: navigationSection;
  background-color: mercury;
  color: mineShaft;
}

.darkNavigationSection {
  composes: navigationSection;
  background-color: codGray;
  color: WhiteColor;
}

.baseOptionsStyle {
  font-family: 'raleway';
  font-weight: 800;
  font-size: 36px;
  letter-spacing: 4px;
}

.optionsContainer {
  height: fit-content;
  composes: baseOptionsStyle;
}

div.optionsContainer * {
  padding: 12px 8px;
  cursor: pointer;
}

div.optionsContainer *:hover {
  background-color: lilacBush;
}

.socialLinksContainer {
  padding: space space;
  display: flex;
}

.socialLinksContainer div {
  margin-right: 8px;
}

.lightSocialLinksContainer {
  composes: socialLinksContainer;
  background-color: mercury;
}

.darkSocialLinksContainer {
  composes: socialLinksContainer;
  background-color: codGray;
}

.controlFooter {
  font-family: 'raleway';
  background-color: mineShaft;
  text-align: center;
  font-size: 12px;
  padding: space 0;
  letter-spacing: 0.8px;
  line-height: 18px;
}

.lightControlFooter {
  composes: controlFooter;
  background-color: whiteColor;
  color: boulder;
  font-weight: 600;
}

.darkControlFooter {
  composes: controlFooter;
  background-color: mineShaftApprox;
  color: silverApprox;
}

.detailSpace {
  flex: 1;
  composes: baseSpace;
}

.lightDetailSpace {
  composes: detailSpace;
  background-color: silverSolid;
}

.darkDetailSpace {
  composes: detailSpace;
  background-color: mineShaft;
}

.detailHeader {
  display: flex;
  justify-content: space-between;
  margin-left: space;
  padding: space space;
  composes: baseOptionsStyle;
}

.detailHeader svg {
  font-size: 28px;
  cursor: pointer;
}

.lightDetailHeader {
  composes: detailHeader;
  color: mineShaft;
}

.darkDetailHeader {
  composes: detailHeader;
  color: whiteColor;
}

.details {
  flex: 1;
  margin: calc(space * 2) calc(space * 2);
  font-family: 'raleway';
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 32px;
}

.lightDetails {
  composes: details;
  color: mineShaft;
}

.darkDetails {
  composes: details;
  color: silverApprox;
}

.detailFooter {
  padding: space space;
  display: flex;
  /* border: 1px solid aqua; */
}

.detailFooter div {
  margin-right: 6px;
}