@import '../../assets/fonts.css';

.baseFont {
  font-family: 'raleway';
  font-size: 12px;
  letter-spacing: 1px;
}

.tipBoxContainer {
  display: flex;
  width: fit-content;
}

.qrImage {
  /* margin: 0 10px; */
}

.qrImage img {
  width: 82px;
  height: 82px;
}

.qrContainer {
  composes: baseFont;
  text-align: center;
  position: relative;
}

.qrContainer .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 6px 6px;
  position: absolute;
  z-index: 1;
  bottom: 108%;
  left: 50%;
  margin-left: -50px;
  overflow-wrap: break-word;
}

.qrContainer .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.qrContainer:hover .tooltiptext {
  visibility: visible;
}