@value lilacBush from '../../assets/colors.css';
@value mineShaft from '../../assets/colors.css';
@value blackColor from '../../assets/colors.css';

.logoContainer {
  font-size: 28px;
  cursor: pointer;    
}

.lightLogoContainer {
  composes: logoContainer;
  color: mineShaft;
}

.darkLogoContainer {
  composes: logoContainer;
  color: lilacBush; 
}